ex00/*
!ex00/z

ex01/*
!ex01/testShell00.tar

ex02/*
!ex02/exo2.tar

ex03/*
!ex03/id_rsa_pub

ex04/*
!ex04/midLS

ex05/*
!ex05/git_commit.sh

ex06/*
!ex06/git_ignore.sh

ex07/*
!ex07/b

ex08/*
!ex08/clean

ex09/*
!ex09/ft_magic
